<h2> Voici le user n<%= @user.id %> </h2>
<p><%= @user.first_name%> </p>
<p><%= @user.last_name%></p>
<p><%= @user.age%></p>
<p><%= @user.description%></p>
<p><%= @user.city.name%></p>


<p>
    <a href="<%= root_path %>" class="btn btn-primary">Revenir aux articles</a>
</p>